main {
  text-align: center;
}
#tombolone {
  margin: 100px;
  border: 2px solid red;
}
.cell {
  border: 1px solid black;
  display: inline-block;
  padding: 5px;
  margin: 5px;
  width: 8.5%;
}
.colora {
  background-color: brown;
}
